<!DOCTYPE html>
<html ng-app="betsol.intlTelInput.test">

<head>
    <title>ng-intl-tel-input demo</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/intl-tel-input/build/css/intlTelInput.css">
    <style>
        body {
            padding: 40px;
            max-width: 800px;
        }
        .has-success input {
            background-color: #DFD;
        }
        .has-error input {
            background-color: #FDD;
        }
        .repo-button {
            position: relative;
            top: 10px;
            float: right;
        }
    </style>
</head>

<body ng-controller="TestController as vm" ng-init="vm.includeUrl = 'form.html'">

    <h1>
        ng-intl-tel-input demo
        <iframe
            class="repo-button"
            src="https://ghbtns.com/github-btn.html?user=betsol&repo=ng-intl-tel-input&type=star&size=large"
            frameborder="0"
            scrolling="0"
            width="90px"
            height="30px"
        ></iframe>
    </h1>
    <hr>

    <div ng-include="vm.includeUrl"></div>

    <p>Entered Phone Number: «<strong>{{ vm.phoneNumber }}</strong>»</p>

    <hr>

    <div class="well">
        <div class="btn-group" role="group">
            <button
                type="button"
                class="btn btn-default"
                ng-click="vm.phoneNumber = '+380441234567'"
            >Set to «+380441234567»</button>

            <button
                type="button"
                class="btn btn-default"
                ng-click="vm.phoneNumber = '+79051234567'"
            >Set to «+79051234567»</button>

            <button
                type="button"
                class="btn btn-default"
                ng-click="vm.phoneNumber = '+1234'"
            >Set to «+1234»</button>
        </div>
    </div>

    <div class="well btn-group" role="group">
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.includeUrl = null"
            ng-disabled="null === vm.includeUrl"
        >Destroy Form</button>

        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.includeUrl = 'form.html'"
            ng-disabled="null !== vm.includeUrl"
        >Create Form</button>
    </div>

    <div class="well btn-group" role="group">
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.phoneNumberCtrl.setCountry('ru')"
        >Change Country to Russia</button>
    </div>

    <div class="well btn-group" role="group">
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.showExtension()"
        >Show Extension</button>
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.showSelectedCountryData()"
        >Show Selected Country Data</button>
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.showNumber()"
        >Show National Number</button>
        <button
            type="button"
            class="btn btn-default"
            ng-click="vm.showNumberType()"
        >Show Number Type</button>
    </div>

    <hr>

    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/intl-tel-input/build/js/intlTelInput.js"></script>
    <script src="vendor/intl-tel-input/build/js/utils.js"></script>
    <script src="vendor/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
    <script src="vendor/ng-intl-tel-input/scripts/betsol-ng-intl-tel-input.js"></script>
    <script type="application/javascript">
        (function (angular) {
            'use strict';
            angular
                .module('betsol.intlTelInput.test', [
                    'betsol.intlTelInput'
                ])
                .config(function (intlTelInputOptions) {
                })
                .controller('TestController', function () {
                    var vm = this;
                    vm.phoneNumber = '+79031234567 ext. 123';
                    vm.phoneNumberCtrl = null;
                    vm.showExtension = function () {
                        alert(vm.phoneNumberCtrl.getExtension());
                    };
                    vm.showNumber = function () {
                        alert(vm.phoneNumberCtrl.getNumber(intlTelInputUtils.numberFormat.NATIONAL));
                    };
                    vm.showNumberType = function () {
                        alert(vm.phoneNumberCtrl.getNumberType());
                    };
                    vm.showSelectedCountryData = function () {
                        alert(JSON.stringify(
                            vm.phoneNumberCtrl.getSelectedCountryData(),
                            null, 2
                        ));
                    };
                })
            ;
        })(angular);
    </script>

    <script type="text/ng-template" id="form.html">
        <form name="form">
            <div
                class="form-group"
                ng-class="{
                    'has-success' : form.phoneNumber.$valid,
                    'has-error'   : form.phoneNumber.$invalid
                }"
            >
                <label for="phone-number">Phone Number</label>
                <input
                    id="phone-number"
                    name="phoneNumber"
                    class="form-control"
                    type="tel"
                    ng-model="vm.phoneNumber"
                    intl-tel-input
                    intl-tel-input-controller="vm.phoneNumberCtrl"
                >
                <span class="help-block" ng-show="form.phoneNumber.$error.phoneNumber">
                    Please enter a correct phone number in the field above!
                </span>
            </div>
            <div class="form-group">
                <label for="phone-number-plain">Plain Input</label>
                <input
                    id="phone-number-plain"
                    class="form-control"
                    type="text"
                    ng-model="vm.phoneNumber"
                >
            </div>
        </form>
    </script>

</body>

</html>
